<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 4</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">

</head>
<body>

    <div id="app">

        <!-- v-on añade eventos a la etiqueta -->
        <button v-on:click="unaFuncion">Una función</button>
        <!-- "v-on:" puede abreviarse como "@" -->
        <button @click="unaFuncion">Una función</button>

        <br>
        <br>

        <button @click="eventoClick">v-on:click</button>

        <br>
        <br>

        <input @keydown.13="eventoKeyDown" placeholder="Click & Enter (presionar)"></input>
        <input @keyup.13="eventoKeyUp" placeholder="Click & Enter (soltar)"></input>

        <br>
        <br>

        <h2>Toma valores con v-model, guarda en una lista con v-on:enter y recorre la lista con v-for</h2>
        <label for="">Agregar email:</label>
        <br>
        <input type="text" v-model="email" @keydown.enter="agregar" placeholder="Presionar enter para enviar"/>

        <ul v-for="item in listaEmail">
            <div style="list-style: none; display:flex;">
                <input type="checkbox" name="checkbox" v-model="item.check">
                <label for="checkbox" v-if="item.show"></label>
                <li style="margin: 0 .5rem;">{{item.email}} {{item.check ? '(Seleccionado)' : ''}}</li>
            </div>
        </ul>

        <br>
        
        <button @click="limpiarLista">Borrar todo</button>
        <button @click="limpiarSeleccion">Borrar seleccion</button>


    
        
    </div>

    
    <script src="script.js"></script>
</body>
</html>